.heading {
  justify-content: space-between;
  text-align: center;
  padding: 10px;
  margin: 30px;
  animation: 1.5s fadeInUp;
  font-weight: 500;
}
@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@media (max-width: 600px) {
  .heading {
    text-align: center;
    font-size: 30px;
  }
}
