.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.container {
  width: 100%;
  height: 100%;
}
.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.categoryDropdown {
  width: 20%;
  padding: 5px;
}

option:checked {
  background-color: white;
  color: darkblue;
}
.my-btn {
  background-color: darkblue;
}
.dropdown:hover .dropdownContent {
  display: block;
}
.SearchBar {
  width: 250px;
  padding: 5px;
  border-radius: 6px;
  display: inline;
}

@media (max-width: 700px) {
  .gridContainer {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }
  .filter {
    flex-direction: column;
  }
}
