article {
  min-height: 100%;
  display: grid;
  list-style-type: none;
}

.footer {
  display: flex;
  padding: 5px;
  background-color: darkblue;
  color: white;
  width: 1300px;
  margin-top: 20px;
}
.links {
  list-style-type: none;
}
.links li {
  margin-top: 15px;
  margin-left: 200px;
}
.Header {
  margin: 80px;
}
