.NavBar {
  display: flex;
  background-color: darkblue;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  color: white;
}
.header {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
ul {
  list-style: none;
  display: flex;
  margin-left: auto;
  gap: 40px;
}

ul li {
  font-size: 20px;
  font-weight: 600;
  padding: 5px 10px;
  text-decoration: none;
  cursor: pointer;
}

ul li span {
  font-weight: 600;
  font-size: 18px;
}
.mobileMenu {
  display: none;
}
.nav-options {
  /* padding-left: 25px; */
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 50px;
  list-style-type: none;
}
.icons {
  font-size: 18px;
}
@media (max-width: 700px) {
  .NavBar {
    width: 100%;
    padding: 16px;
  }
  .navOptions {
    display: flex;
    padding: 24px;
    flex-direction: column;
    width: 100%;
    /* height: 350px; */
    position: absolute;
    top: 80px;
    left: -100%;
    transition: all 0.5s ease;
    gap: 0;
  }
  ul {
    background-color: darkblue;
    /* width: 100%; */
  }
  /* .navOptions {
    display: none;
  } */
  .headers {
    font-size: 30px;
  }
  .active {
    left: 0;
    /* width: 100%; */
    opacity: 1;
    z-index: 1000;
  }
  .icons {
    font-size: 24px;
  }
  .mobileMenu {
    display: flex;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    height: 100%;
    color: white;
    width: 30px;
    height: 50px;
  }

  .menuIcon {
    width: 30px;
    height: 30px;
  }
  .navOptions li span {
    font-size: 26px;
  }
  .header {
    font-size: 30px;
  }
  /* .navOptions {
    width: 100%;
  } */
}
