body {
  margin: 0;
  padding: 0;
}

h2,
p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkblue;
}

ul li {
  float: left;
}

ul li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}
input {
  margin-left: 200px;
  margin-top: 10px;
  width: 400px;
}

.Navbar {
  border-radius: 5px;
  width: 1280px;
  height: 55px;
}
.shopEase {
  margin-top: 10px;
  color: white;
  font-size: 20px;
  margin-left: 50px;
  width: 100%;
  cursor: pointer;
}
ul .iconsContainer {
  margin-left: 850px;
}
.icons:hover {
  cursor: pointer;
}
